*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--bright-ogrange: hsl(31, 77%, 52%);
	--dark-cyan: hsl(184, 100%, 22%);
	--very-dark-cyan: hsl(179, 100%, 13%);
	--white: hsla(0, 0%, 100%, 0.75);
	--light-grey: hsl(0, 0%, 95%);
	--light-white: #fff;
}

html {
	font-size: 15px;
	font-family: 'Big Shoulders Display', cursive;
	font-family: 'Lexend Deca', sans-serif;
}

.cards {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 15rem;
}

.card {
	width: 300px;
	height: 400px;
	padding: 35px;
}

.card-header {
	color: var(--white);
	font-family: 'Big Shoulders Display';
	margin-bottom: 10px;
	font-size: 2rem;
}

.card-text {
	color: var(--white);
	font-family: 'Lexend Deca', sans-serif;
	letter-spacing: 2px;
}

.btn {
	font-family: 'Lexend Deca', sans-serif;
	padding: 12px 19px;
	margin-top: 30%;
	border-radius: 30px;
	border: 2px solid var(--white);
	background-color: #fff;
	cursor: pointer;
	transition: color, background-color, 0.1s;
}

.btn-Sedans {
	background-color: #fff;
	color: var(--bright-ogrange);
}

.btn-Sedans:hover {
	color: var(--white);
	background-color: var(--bright-ogrange);
}

.btn-suvs {
	background-color: var(--light-white);
	color: var(--dark-cyan);
}

.btn-suvs:hover {
	color: var(--white);
	background-color: var(--dark-cyan);
}
.btn-luxury {
	background-color: var(--light-white);
	color: var(--very-dark-cyan);
}

.btn-luxury:hover {
	color: var(--white);
	background-color: var(--very-dark-cyan);
}

.Sedans {
	background-color: var(--bright-ogrange);
}

.SUVs {
	background-color: var(--dark-cyan);
}

.Luxury {
	background-color: var(--very-dark-cyan);
}
@media (max-width: 480px) {
	.cards {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: auto;
		flex-direction: column;
	}
}
